ORACLE_ADDRESS=
PRIVATE_KEY=
PUBLIC_KEY=
WSS_URLS=

LOG_LEVEL=info
ENABLE_CONSOLE_LOGGING=true
ENABLE_FS_LOGGING=false
PRICES_URL=wss://backend-pricing.eu.gains.trade/v3
STORAGE_ADDRESS=0x4d2dF485c608aa55A23d8d98dD2B4FA24Ba0f2Cf
MULTI_COLLAT_DIAMOND_ADDRESS=0xDee93dD1Cb54ce80D690eC07a20CB0ce9d7F741C
EVENT_CONFIRMATIONS_SEC=5
MIN_PRIORITY_GWEI=2
MAX_GAS_PRICE_GWEI=1000
PRIORITY_GWEI_MULTIPLIER=1.1
AUTO_HARVEST_SEC=21600
FAILED_ORDER_TRIGGER_TIMEOUT_SEC=10
MAX_GAS_PER_TRANSACTION=6000000
OPEN_TRADES_REFRESH_SEC=120
GAS_REFRESH_INTERVAL_SEC=3
FETCH_TRADING_VARIABLES_REFRESH_INTERVAL_SEC=60
CHAIN_ID=80001
ENABLE_CONCURRENT_PRICE_UPDATE_PROCESSING=true
USE_MULTICALL=false
MAX_RETRIES=20
